@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
  --glass-text-color: hsla(0, 0%, 0.05);
  --green: hsl(162, 45%, 56%);
  --plomo: hsl(162, 2%, 56%);
  --blue: hsl(220, 85%, 57%);
  --violet: hsl(272, 92%, 32%);
  --text-white: hsl(0, 0%, 100%);
  --text-light-gray: hsl(0, 0%, 90%);
  --body-bg-color: hsl(198, 50%, 77%);
  --border-color: hsla(0, 3%, 35%, 0.438);
  --blur: blur(10px);
  --button-hover-color: hsla(0, 0%, 0%, 0.3);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(./components/images/library_wallpaper.jpg );
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 95%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-text {
  background: linear-gradient(to right, var(--green), var(--plomo));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main,
.contacto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.main header,
.contacto header,
.libros header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  padding: 100px;
}

.main header Link,
.contacto header Link,
.libros header Link {
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px white;
  color: white;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: white;
}
.main section,
.contacto section,
.main section,
.contacto section {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.informacion {
  color: white;
  display: flex;
  flex-direction: column;
}
.libros {
  display: flex;
  width: 100%;
  height: 100vh;
}

.generos{
  display: flex;
  flex-direction: row;
}
.imagenes{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.seccionSuperior{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.seccionInferior{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.libros {
  display: grid;
  width: 100%;
  height: 100vh;
}

.generos {
  display: flex;
  width: 100%;
  height: 90vh;
  flex-direction: column;
}

.parteArriba {
  display: flex;
  flex-direction: row;
  height: 50%;
  background-color: wheat;
  align-items: center;
  justify-content: space-evenly;
}

.parteAbajo {
  display: flex;
  flex-direction: row;
  height: 50%;
  justify-content: space-evenly;
  align-items: center;
}


.librosCoverDos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverTres{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverCuatro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverQuinto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverSexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverSeptimo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.librosCoverOctavo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-submit {
  cursor: pointer;
}
.form-main{
  min-height: 10vh;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container-login{
  width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.container-login .circle-3,
.container-login .circle-2,
.container-login .circle-1{
    position: absolute;
    background: linear-gradient(to right, var(--blue), var(--green));
    border-radius: 50px;
    z-index: -1;
}

.container-login .circle-1{
    height: 100px;
    width: 120px;
    left: 0;
    top: 10px;
    transform: translateX(-50%);
}

.container-login .circle-2{
    height: 90px;
    width: 90px;
    right: 0;
    bottom: 0;
    transform: translate(20%, 20%);
}

.container-login .circle-3{
    height: 50px;
    width: 50px;
    right: 10%;
    top: 10%;
}
.login-form{
  width: 100%;
  max-width: 450px;
  position: relative;
  z-index: 1;
}

.login-form .box{
  padding: 30px 30px;
  border-radius: 20px;
  backdrop-filter: var(--blur);
}

.login-form h1{
  font-size: 32px;
  text-align: center;
  line-height: 1.2;
  color: var(--text-white);
  font-weight: 1500;
}

.login-form form{
  margin: 25px 0 20px;
}

.login-form .input .box{
  margin: 25px;
}

.login-form ::placeholder{
  color: white;
  opacity: 1;
}

.login-form .input-control{
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
}

.login-form .input-control:focus{
  outline: none;
}

.login-form .input-link{
  margin-top: 15px;
  text-align: right;
}

.login-form .btn{
  height: 45px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  cursor: pointer;
  border-radius: 25px;
  user-select: none;
  background: linear-gradient(to right, var(--green), var(--plomo));
  border: none;
  color: var(--text-white);
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.login-form .btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease;
  z-index: -1;
}


login-form .btn:hover::before{
  background-color: var(--button-hover-color);
}

.login-form p{
  text-align: center;
  color: var(--text-white);
}
.adv{
  text-align: center;
  font-weight: 1000;
}
.Link{
  background: none;
  border: 0;
}
